<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>

<body style="font-family: Arial, sans-serif; background:#f6f8fb; padding:20px;">

<div style="
        max-width:600px;
        margin:auto;
        background:white;
        padding:30px;
        border:1px solid #ddd;
        border-radius:8px;
">

    <h2>Reset your BankFlow password 🔐</h2>

    <p>
        Hello <span th:text="${name}"></span>,
    </p>

    <p>
        We received a request to reset your BankFlow password.
    </p>

    <p>
        Click the button below to create a new password:
    </p>

    <br>

    <a th:href="${resetUrl}"
       style="
       display:inline-block;
       background:#2563eb;
       color:white;
       padding:12px 20px;
       text-decoration:none;
       border-radius:5px;
       ">
        Reset Password
    </a>

    <br><br>

    <p>
        This link will expire in <b>1 hour</b>.
    </p>

    <p>
        If you did not request this password reset,
        you can safely ignore this email.
    </p>

    <p>
        Regards,<br>
        <b>BankFlow Team</b>
    </p>

</div>

</body>

</html>